# Terraform state files
*.tfstate
*.tfstate.backup

# Crash log
crash.log

# Sensitive variable files (dacă le ai)
*.tfvars

# CLI config
.terraform/
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local .terraform dir
.terraform.lock.hcl
